<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<style>
    a{
        text-decoration: none;
    }
</style>

<body>

    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <h1>Bye have a great time 👋</h1>
            <h3>Do check out my portfolio website by clicking on the link hear 👉 <a href="http://myprofileapp567.herokuapp.com/index.html"> Slap hear</a> </h3>


        </div>
    </div>
</body>

</html>